@using DollarShop.Models.Enums;
@model ProductsModelUpdated;
@{
    ViewData["Title"] = "Edit Item";
}

<h1>Edit Product </h1>
<br>

@{
    if (@Model == null)
    {
        <p>Product Not Exists</p>
    }

    if (@Model != null)
    {
        <form id="productEdit" action="https://www.google.com">
            <label for="name">Name</label><br>
            <input type="text" id="name" name="Name" value="@Model.Name"><br>
            <label for="price">Price</label><br>
            <input type="text" id="price" name="Price" value="@Model.Price"><br>
            <label for="Image">Image Link</label><br>
            <img src="@Model.Image"  width="400"/>
            <input type="file" id="ImageFile" name="ImageFile" value="@Model.Image"><br>
            <label for="catagory">Choose A Catagory</label><br>
            <select id="selectedCatagory" name="Catagory" class="custom-select" asp-items="@Html.GetEnumSelectList<CatagoryType>()">
            </select><br>
            <input hidden type="text" value="@Model.ProductID" id="ProductID" name="ProductID" />
            <input type="submit" value="Edit Item">
        </form>
    }

<div>
    <p id="result"> </p>
    <a href="ProductsFromJson">Back To Products</a>
</div>        

}

@section scripts {

    <script>
        $(document).ready(function () {
            $('#selectedCatagory').prop('selectedIndex', @((int)Model.Catagory));
            $("#productEdit").submit(function (event) {
                event.preventDefault();

                var formData = new FormData(this);
                var image = $('#ImageFile').get(0).files[0];

                formData.append('Name', $("#name").val());
                formData.append('Price', $("#price").val());
                formData.append('Catagory', $("#selectedCatagory").val());
                formData.append('ImageFile', image);
                formData.append('ProductID', "@Model.ProductID");

                $.ajax({
                    url: "/ProductUpdated/EditItem",
                    type: "post",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#result").html(`${result.message}`);
                    }
                });
            });
        });
    </script>
}
